.card {
  /* width: 300px; */
  height: 500px !important;
  // background-color: red;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  box-shadow: 3px 5px 15px rgba(3, 32, 51, 0.3);
}

@media (max-width: 576px) {
  .card {
    height: 550px !important;
  }
}
.content-info {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(#330662, 0.8);
  padding: 30px 20px;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(50px) scale(1.1);
  border-radius: 15px;
  box-shadow: 0 0 5rem 10px #330662;
    border-bottom: 2px solid #330662;
}
.content-info a {
  text-decoration: none;
  color: white;
}
.content-info a:hover {
  color: aqua;
}
.card:hover .content-info {
  transform: translateY(0) scale(1.009);
  opacity: 1;
}
